.clock {
  text-align: center;
  margin-top: 100px;
  background-color: rgb(30, 80, 90);
  padding: 20px;
  border-radius: 20px;
}

.time {
  font-size: 72px;
  font-weight: bold;
  text-shadow: 2px 4px 8px rgb(50, 200, 90);
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px;
  transition: 0.5s;
  border-radius: 10px;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.alarm {
  margin-top: 20px;
}

input[type="time"] {
  padding: 5px;
  font-size: 18px;
}